/* Controls for the Book button */
.qxCTlb {

    padding: 15px;
    color: var(--primary1) !important;
    /* border: 5px dotted rgba(255, 238, 0, 0.75); */
    border: none;
    background-color: var(--highlight1) !important;
    border-radius: 20px 20px 20px 20px;
    /* font: bold 30px Georgia, serif; */
    font: bold 30px 'PerfectDOS_VGA', serif;
/*     
    min-height: 36px;
    padding: 8px 16px;
    border-radius: 4px;
    font-family: Google Sans Text, Google Sans;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: .25px;
    color: white;
    border-width: 0;
    cursor: pointer;
    white-space: break-spaces;
    word-break: break-word */
}

/* Make the book button have a different hover */
.qxCTlb:hover {
    background-color: var(--highlight4) !important;
}

.hur54b {
    /* display: none !important; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgba(32, 33, 36, .6);
    padding: 72px;
    z-index: 9999
}

/* Background for the main pop up */
.mmGMM {
    border: none;
    border-radius: 8px;
    /* Change the background color */
    background-color: #fff;
    /* background-color: var(--primary8) !important; */
    width: 100%;
    height: 100%
}

/* Schedule box color */
.W89NWb {
    background-color: var(--primary5) !important;
}


.ayOY8d {
    display:none !important;
}

/* Google Logo div Top Right */
.gng3Yc {
    display:none !important;
}

.Xfsokf {
    position: fixed;
    top: 26px;
    right: 72px;
    display: -moz-box;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    border: none;
    border-radius: 18px;
    background-color: #1f1f1f;
    height: 36px;
    padding: 16px;
    cursor: pointer
}

.L0Dvsd {
    color: #fff;
    font-size: 18px;
    margin-right: 8px
}

.uE25ec {
    font-size: 14px;
    font-family: "Google Sans", Arial, sans-serif;
    font-weight: 500;
    letter-spacing: .25px;
    color: #fff
}

sentinel {}