/********************* START GLOBALS ****************************/
@font-face {
    font-family: 'CedarvilleCursive'; /* Choose a unique name for your font */
    src: url('/fonts/CedarvilleCursive-Regular.ttf') format('truetype'); /* Specify the path to your TTF file and its format */
    font-weight: normal; /* Optional: Define font weight if applicable */
    font-style: normal; /* Optional: Define font style if applicable */
}

@font-face {
    font-family: 'PerfectDOS_VGA'; /* Choose a name for your font */
    src: url('/fonts/PERFECT_DOS_VGA_437_WIN.TTF') format('truetype'); /* Path to your font file */
    font-weight: normal; /* Define font weight if applicable */
    font-style: normal;  /* Define font style if applicable */
    font-display: swap;  /* Optimize font loading */
}

* {
    box-sizing: border-box;
    margin: 0;
}

html,
body {
    margin:0;
    padding:0;
}

body {
    background-color: #101010; 
    color: #efefef;
    font: 16px 'PerfectDOS_VGA', serif;
} 
/*********************** END GLOBALS ****************************/

/*********************** START LINKS ****************************/
a:link {
    color: #efefef;
    text-decoration: none;
}

a:active {
    color: #cacaca;
}

a:visited {
    color: #efefef;
}   

a:hover {
    color: #cacaca;
}

/* https://www.svgrepo.com/collection/social-media-fill-icons/ */
svg {
    height: 32px;
    width: 32px;
    fill: #efefef;
}

svg:hover {
    fill: #cacaca;
}
/************************** END LINKS ****************************/

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;    
}

header{
    display:flex;
    justify-content: end;
    align-items: center;
    background-color: #555555;
    height:4rem;
    padding-right:1rem;
    border-top: 5px solid #656565;
}

nav {
    background-color: #757575;
    border-top: 3px solid #cacaca;
    border-bottom: 3px solid #cacaca;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    height:5rem;
}

.banner {
    padding:0.25rem;

    background-color: #555555;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 5px solid #656565;
}

.gridBoxIcons {
    display:grid;
    /* border: 1px solid red; */
    margin:0px;
    width:100%;
    height:100%;
}

.gridBox{
    /* border: 1px solid yellow; */
    display:flex;
    justify-content: center;
    align-items: center;
}

.bannerBox{
    /* margin-left: 1rem;
    margin-right: 1rem; */
    flex-grow: 1;
    /* border: 1px solid green; */
}

.bannerBox1{
    display:flex;
    justify-content: center;
    align-items: center;

    flex-grow:25;

    /* border:1px solid green; */
}

.bannerBox3{
    display:flex;
    flex-direction: column;

    flex-grow: 25;

    /* border: 1px solid red; */
    justify-content: center;
    align-items:center;
}

.portraitCutout {
    border: 3px solid #cacaca;
    overflow: hidden;
    /* box-shadow: #656565 0 0 0 3px; */
    border-radius:50%;
}

.portrait {
    background-image: url("/images/Sydney\ Business\ 2025.jpg");
    background-size: contain;
    filter:grayscale(35%);
}

.callOrBook {
    border: 1px solid red;
}

.bookButtonZ-index {
    position:absolute;
    background-color: #757575;
    padding:1rem;
    z-index: 10;
    border: 3px solid #cacaca;
    border-radius:15px;
    text-align: center;
}

.bookButton {
    padding: 15px;
    color: #061919;
    border: 5px dotted rgba(255, 238, 0, 0.75);
    background-color: #de0808;
    border-radius: 20px 20px 20px 20px;
    font: bold 30px Georgia, serif;
}

.bookButton:active {
    background-color: #7a0606;
}

.main {

}

.footer {
    display:flex;
    justify-content: center;
    align-items: center;
    height:5rem;        
    
    width:100vw;
    
    background-color: #555555;
    border-top: 5px solid #656565;
}

/* For phones in portrait mode */
@media only screen and (max-width:600px) {
    nav {
        font-size: 1em;
        font-style: bold;
    }

    .gridBoxIcons{
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(3, 1fr);
    }

    .bookButtonBoxPC{
        display: none;
    }
    
    .banner{
        flex-direction: column;
    }

    .bannerBox1{
        order:3;
        display: none;
    }

    .bannerBox2{
        order:1;
    }

    .bannerBox3{
        order:2;
    }

    .bannerBox {
        height: 20rem;
        width: 20rem;
    }
    
    .portrait {
        height:20rem;
        width:20rem;
    }

    .footer{
        font-size: 1.5em;
    }
} 

/* Specifically for phones & tablets in lanscape mode */
@media only screen and (min-width:600px) and (max-height:600px) {
    nav {
        font-size: 1.5em;
        font-style: bold;
    }

    .gridBoxIcons{
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(3, 1fr);
    }

    .bookButtonBoxPhone{
        display: none;
    }

    .bannerBox {
        height: 14rem;
        width: 14rem;
    }

    .portrait {
        height:14rem;
        width:14rem;
    }

    .footer{
        font-size: 2.5em;
    }
}

/* For computer and tablet screens */
@media only screen and (min-width:600px) and (min-height:600px){
    nav {
        font-size: 2.5em;
        font-style: bold;
    }

    .gridBoxIcons{
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: repeat(10, 1fr);
    }

    .bookButtonBoxPhone{
        display: none;
    }

    .portrait {
        height:15rem;
        width:15rem;
    }

    .bannerBox {
        height: 15rem;
        width: 15rem;
    }

    .footer{
        font-size: 2.5em;
    }
}