:root {
    color: #26a6a6;
    color: #1b8381;
    color: #1d7c7c;
    color: #061919;
    color: #e7e4e4;
    color: #cecaca;
    color: #9a9898;
    color: #808080;
    color: #FEA34D;
    color: #FD881C;
    color: #ff7b00;
    /* My favorite Orange */
    color: #E26F03;
    color: #AF5604;
    color: #7C3E03;
}