.qxCTlb {
    border: 5px solid red;

    min-height: 36px;
    padding: 8px 16px;
    border-radius: 4px;
    font-family: Google Sans Text, Google Sans;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: .25px;
    color: white;
    cursor: pointer;
    white-space: break-spaces;
    word-break: break-word
}

.hur54b {
    border: 5px solid orange;

    position: fixed;
    top: 0;
    left: 0;
    width: 600px;
    height: 600px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgba(32, 33, 36, .6);
    padding: 72px;
    z-index: 9999
}

.mmGMM {
    border: 5px solid yellow;

    border-radius: 8px;
    background-color: white;
    width: 100%;
    height: 100%
}

.Xfsokf {
    border: 5px solid green;

    position: fixed;
    top: 26px;
    right: 72px;
    display: -moz-box;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    border: none;
    border-radius: 18px;
    background-color: #1f1f1f;
    height: 36px;
    padding: 16px;
    cursor: pointer
}

.L0Dvsd {
    border: 5px solid blue;

    color: #fff;
    font-size: 18px;
    margin-right: 8px
}

.uE25ec {
    border: 5px solid indigo;

    font-size: 14px;
    font-family: "Google Sans", Arial, sans-serif;
    font-weight: 500;
    letter-spacing: .25px;
    color: #fff
}

sentinel {}