/* Place your CSS styles in this file */

h1 {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    font-size: 38px;
}

#main{
    margin-left: auto;
    margin-right: auto;
    font-size:18px;
    width:414px;
    /* border:1px solid red; */
    text-indent: 25px;
}